@using Afas.AfComply.Domain
<div style="clear: both;">&nbsp;</div>
<footer>
    <div id="footer">
        Copyright &copy; @Branding.CopyrightYears <a href="@Branding.CompanyWebSite">@Branding.CompanyName</a> - All Rights Reserved
        <br />
        <div style="clear: both;">&nbsp;</div>
    </div>
</footer>
