.VeryPoor
{
    background-color:red;
    opacity: 0.4;
    z-index: 10002;
}

.Weak
{
    background-color: yellow;
    opacity: 0.4;
    z-index: 10002;
}

.Average
{
    background-color:  #A52A2A;
    opacity: 0.4;
    z-index: 10002;
}

.Excellent
{
    background-color:green;
    opacity: 0.4;
    z-index: 10002;
}

.Strong
{
    background-color:yellowgreen;
    opacity: 0.4;
    z-index: 10002;
}

.border
{
    position: relative;
    border: 1px solid lightgreen;
    width: 400px;   
    z-index: 10002;           
}


