<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <httpCookies requireSSL="true" httpOnlyCookies="true" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey decryptionKey="#{DecryptionKey}" validationKey="#{ValidationKey}" validation="SHA1" decryption="AES" xdt:Transform="Insert"/>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="#{System.EmailNotificationAddress}" xdt:Transform="Insert">
        <network host="#{MailServer}" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <httpProtocol xdt:Transform="Insert" >
      <customHeaders>
        <add name="X-Frame-Options" value="#{X-Frame-Options}" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>